extends layout

block content
  .container
    h1 Applicants
    ul#applications.list-unstyled
      for applicant in applicants
        li 
          p=applicant.name
          p=applicant.bio
          p=applicant.skills
          p=applicant.years
          p=applicant.why

    a(href="/") Enter another applicant